@model IEnumerable<sss.Models.Suggestion>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="CreateSuggest">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                <a asp-action="EditSuggest" asp-route-id="@item.Id">Edit</a> 
            </td>
            <td>
                <a asp-action="DetailSuggest" asp-route-id="@item.Id">Details</a> 
            </td>
            <td>
                <form asp-action="DeleteSuggest" method="post" asp-route-id="@item.Id" onclick="return confirm('Are you want to delet this?')">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
